body {
  font-size: 14px;
  line-height: 1.6;
  padding: 20px;
  max-width: 960px;
  margin: 0 auto;
  background: #555555;
  color: #f7c211;
}

h1, h2 {
  font-family: 'Lora', serif;
  background: #373737;
  color: #f7c211;
  padding: 10px;
  padding-left: 20px;
  margin-top: 0px;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; }
h1 a { color: #000011; }

h1, h2, p {
  margin: 1rem;
}

a { color: #c59b11; }

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9rem;
  color: #f7c211;
}

p.caption {
  font-size: 0.7rem
  margin-bottom: 0;
  margin-top: 0;
  font-family: 'Lora', serif;
}

iframe { border: 0; }


/* MOBILE */
@media screen and (max-width: 600px) {
  iframe {
    height: 240px;
  }
}

/* DESKTOP */
@media screen and (min-width: 600px) {
  iframe {
    height: 400px;
    width: 1024;
    margin: 1rem auto;
    display: block;
  }
  
  h1, h2, p {
    width: 100%;
    margin: 1rem auto;
  }
}

