body {
  font-family: "Source Sans Pro", Helvetica, arial, sans-serif;
  font-size: 14px;
  line-height: 1.6;
  color: #333;
  background-color: #1C1C1C;
  padding: 20px;
  max-width: 960px;
  margin: 0 auto;
}

h1, h2 {
  font-family: 'Source Sans Pro', sans-serif;
  color: #FFFFFF;
  padding: 10px;
  padding-left: 20px;
  margin-top: 0px;
}

h1 {
  font-size: 28px;
  font-weight: 600;
  background-color: #363636;
  /* color: #FFFFFF; */
  color: #277BA5;
}

h2 {
  font-size: 24px;
  font-weight: 500;
  border-bottom: 2px solid #D0D0D0;
  color: #D0D0D0;
}

h1, h2, p {
  margin: 1rem;
}

a { color: #4183C4; }

p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.9rem;
  color: #AAAAAA;
}

p.caption {
  font-size: 0.7rem
  margin-bottom: 0;
  margin-top: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

iframe { border: 0; }


/* MOBILE */
@media screen and (max-width: 600px) {
  iframe {
    height: 240px;
  }
}

/* DESKTOP */
@media screen and (min-width: 600px) {
  iframe {
    height: 400px;
    width: 1024;
    margin: 1rem auto;
    display: block;
  }
  
  h1, h2, p {
    width: 100%;
    margin: 1rem auto;
  }
}

