#------------------------------------------------------------
# KartaVR Docs .htaccess
# 208-12-10
#------------------------------------------------------------

#Turn off directory indexing
Options -Indexes
DirectoryIndex index.html
